@media (max-width: 1160px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .row {
        display: block;
    }

    .row .col {
        width: 100%;
    }

    .col:not(:last-child) > .card {
        margin-bottom: 60px;
    }

    .why-us .col.col-left {
        padding-bottom: 75px;
    }
}

@media (max-width: 480px) {
    .why-us {
        margin-bottom: 0;
        padding: 3rem 0;
        background-color: #222;
    }

    .steps {
        margin-top: 3rem;
        margin-bottom: 0;
    }
}