@media (max-width: 1161px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .row {
        display: block;
    }

    .row .col {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .why-us {
        margin-bottom: 0;
        padding: 3rem 0;
        background-color: #222;
    }

    .steps {
        margin-top: 3rem;
        margin-bottom: 0;
    }
}